.article {
  margin: 60px auto;
  box-sizing: border-box;
  max-width: 1240px;
}

.img {
  max-width: 1240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleDescriptionContainer {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.categoryDateContainer {
  display: flex;
  justify-content: space-between;
}

.category {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.title {
  text-align: left;
  font-size: 48px;
  padding-bottom: 10px;
}

.description {
  font-family: 'EB Garamond';
  font-size: 24px;
  text-align: left;
  margin: 10px 0 20px 0;
  color: var(--darkGray);
}

.content {
  max-width: 720px;
  margin: 0 auto 100px auto;
}

.paragraph {
  font-family: 'EB Garamond';
  font-size: 24px;
  text-align: left;
  margin: 40px 0;
  color: var(--darkGray);
}
