.footerWrapper {
  background-color: rgb(77, 77, 77);
  color: white;
}

.content {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1240px;
  padding: 30px 0;
  display: flex;
}

.content > * {
  padding-right: 60px;
}

.footerSectionHeader {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
}

.footerSection > * {
  margin: 20px 0;
}

.footerSection > p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 100;
  font-size: 14px;
}
