.menuWrapper {
  background-image: linear-gradient(var(--primaryColor), rgb(99, 99, 99));
  position: fixed;
  top: 90px;
  width: 100%;
}

.menu {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > * {
  width: 30%;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
}

.categories > * {
  text-transform: uppercase;
}

.category {
  color: white;
  font-size: 14px;
}

.dictionary {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.randomWordBtn {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 8px 10px;
  border-radius: 2px;
}
