.menuWrapper {
  background-image: linear-gradient(var(--primaryColor), rgb(99, 99, 99));
  position: fixed;
  top: 90px;
  width: 100%;
  border-top: 1px solid white;
}

.menu {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > * {
  width: 30%;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
  margin-top: 20px;
}

.categories > * {
  text-transform: uppercase;
}

.category {
  color: white;
  font-size: 14px;
}

.notesDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.notemaker {
  color: rgb(102, 102, 102);
  font-size: 14px;
  outline: none;
  resize: none;
  border: 0;
  height: 100px;
  width: 200px;
}
