.menuWrapper {
  background-image: linear-gradient(var(--primaryColor), rgb(99, 99, 99));
  position: fixed;
  top: 90px;
  width: 100%;
}

.menu {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25%;
  justify-items: left;
  align-items: center;
}

.categories > * {
  text-transform: uppercase;
}

.category {
  color: white;
  font-size: 14px;
}
