/* Navbar styling */
.navbarWrapper {
  background-color: rgb(77, 77, 77);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
  height: 50px;
  max-width: 1240px;
}

.navbar > a {
  color: rgb(77, 77, 77);
}

.navbarLinks {
  display: flex;
  align-self: center;
  font-size: 14px;
  color: white;
}

.navbarLinks > *:not(:first-child) {
  margin-left: 20px;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  color: rgb(185, 185, 185);
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}

.logo:hover {
  color: rgb(231, 231, 231);
}

.subscribeBtn {
  display: flex;
  align-self: center;
  font-size: 14px;
  color: white;
}
