.content {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 960px;
  padding-top: 40px;
}

.article {
  padding: 20px 0;
}

.header {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom-color: rgb(51, 51, 51);
}

.img {
  max-width: 302px;
  width: 22.4vw;
}
